aiofiles==24.1.0
anaconda-anon-usage
annotated-types
anyio
archspec
audioop-lts==0.2.1
boltons
Brotli
cachetools==5.5.2
certifi
cffi
charset-normalizer
click==8.2.1
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
distro
fastapi==0.115.14
ffmpy==0.6.0
filelock==3.18.0
frozendict
fsspec==2025.5.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.174.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gradio==5.35.0
gradio_client==1.10.4
groovy==0.1.2
grpcio==1.73.1
grpcio-status==1.71.2
h11
hf-xet==1.1.5
httpcore
httplib2==0.22.0
httpx
huggingface-hub==0.33.1
idna
Jinja2==3.1.6
jiter
jsonpatch
jsonpointer==2.1
libmambapy
markdown-it-py
MarkupSafe==3.0.2
mdurl
menuinst
numpy==2.3.1
openai
orjson==3.10.18
packaging
pandas==2.3.0
pillow==11.2.1
platformdirs
pluggy
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycosat
pycparser
pydantic
pydantic_core
pydub==0.25.1
Pygments
pyparsing==3.2.3
PySocks
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
requests
rich
rsa==4.9.1
ruamel.yaml
ruamel.yaml.clib
ruff==0.12.1
safehttpx==0.1.6
semantic-version==2.10.0
setuptools==78.1.1
shellingham==1.5.4
six==1.17.0
sniffio
starlette==0.46.2
tomlkit==0.13.3
tqdm
truststore
typer==0.16.0
typing_extensions
tzdata==2025.2
uritemplate==4.2.0
urllib3
uvicorn==0.35.0
websockets==15.0.1
wheel==0.45.1
zstandard